{% extends 'includes/base.html' %}
{% load static %}


{% block title %} VVI | Gallery {% endblock %}


{% block body %}
	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">GALLERY <span class="title-under"></span></h1>
			<p class="page-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.
			</p>
			
		</div>

	</div>

	<div class="main-container">

		<div class="container gallery fadeIn animated">

			<div class="row">
				

					<a href="{% static 'assets/images/gallery/7610291856_931fb9f461_k.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/7610291856_931fb9f461_k.jpg' %}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->

					<a href="{% static 'assets/images/gallery/children-82272_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/children-82272_1280.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->


					<a href="{% static 'assets/images/gallery/human-rights.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/human-rights.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->


					<a href="{% static 'assets/images/gallery/old-books-436498_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/old-books-436498_1280.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->

					<a href="{% static 'assets/images/gallery/hunger-682834_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/hunger-682834_1280.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->

					<a href="{% static 'assets/images/gallery/africa-education.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/africa-education.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->


					<a href="{% static 'assets/images/gallery/afghani-60798_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/afghani-60798_1280.jpg' %}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->

					<a href="{% static 'assets/images/gallery/boy-60729_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/boy-60729_1280.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->


					<a href="{% static 'assets/images/gallery/child-207573_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/child-207573_1280.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->


					<a href="{% static 'assets/images/gallery/children-60654_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/children-60654_1280.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->

					<a href="{% static 'assets/images/gallery/doll-87407_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/doll-87407_1280.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->

					<a href="{% static 'assets/images/gallery/girl-62328_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{% static 'assets/images/gallery/thumb/girl-62328_1280.jpg' %}" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->
					
				
			</div>
			
		</div>


	</div> <!-- /.main-container  -->

{% endblock %}



{% block script %}
       
        
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        

        <script>
            const imgExpand = "<script src='{% static 'assets/js/jquery-1.11.1.min.js' %}'><\/script>" ;
            window.jQuery || document.write(imgExpand)
        </script>

        <!-- Bootsrap javascript file -->
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

        <!-- PrettyPhoto javascript file -->
        <script src="{% static 'assets/js/jquery.prettyPhoto.js' %}"></script>

        <!-- Template main javascript -->
        <script src="{% static 'assets/js/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

{% endblock %}